{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
                <th>Buy More</th>

        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td> {{ stock["symbol"] }} </td>
                <td> {{ stock["name"] }} </td>
                <td> {{ stock["totalShares"] }} </td>
                <td> {{ usd(stock["price"]) }} </td>
                <td> {{ (stock["totalShares"] * stock["price"])| usd }} </td>
                <td>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="shares" placeholder="Number of shares" type="text">
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ usd(cash) }}</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ usd(total) }}</td>
                <td>
                    <button class="btn btn-primary" type="submit">Buy More!</button>
                </td>
            </tr>

        </tfoot>

    </table>
{% endblock %}
